[Unit]
Description=Python service for discord bot
After=network-online.target

[Service]
User=larsluph
ExecStart=python3 {script_path}
WorkingDirectory={workingDirectory}
